{% extends "base.html" %}
{% block title %}{{ _('page_niches_title') }}{% endblock %}

{% block extra_head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ static_rel('css/niches.css') }}">
{% endblock %}


{% block content %}
  {% include 'navbar.html' %}
  
  <div class="page-wrapper">
    <h1 class="niches-heading">{{ _('page_niches_heading') }}</h1>
    <p class="niches-subtext">{{ _('page_niches_text') }}</p>

    <div class="niches-grid">
      <div class="niche-card plumber">
        <img src="{{ url_for('static', filename='images/plumber-icon.svg') }}" alt="{{ _('niche_plumber') }}" />
        <h3 class="niche-title plumber">{{ _('niche_plumber') }}</h3>
      </div>

      <div class="niche-card electric">
        <img src="{{ url_for('static', filename='images/electric-icon.svg') }}" alt="{{ _('niche_electric') }}" />
        <h3>{{ _('niche_electric') }}</h3>
      </div>


      <div class="niche-card">
        <img src="{{ url_for('static', filename='images/renovation-icon.svg') }}" alt="{{ _('niche_renovation') }}" />
        <h3>{{ _('niche_renovation') }}</h3>
      </div>

      <div class="niche-card">
        <img src="{{ url_for('static', filename='images/electric-icon.svg') }}" alt="{{ _('niche_locksmith') }}" />
        <h3>{{ _('niche_locksmith') }}</h3>
      </div>
    </div>
  </div>
{% endblock %}
